.flex-container {
    display: flex;
    /*background-color: rgb(112, 107, 107);*/
  }
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 1px;
    padding: 10px;
    font-size: 15px;
    font-family: verdana;
    width:10%;
  }