.MyPicture {
  width: 200px;
  object-position: middle;
  object-fit: fill;
  border-color: white;
  border-style: solid;
}

.column-header {
  padding-left: 40px;
}

.flex-container {
  margin-left: 40px;
  margin-right: 40px;
}

.subscribe {
  background-color: rgb(179, 40, 40);
  padding: 10px;
  border: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  align-self: flex-end;
}
.subscribe:hover {
  opacity: 0.7;
}
