footer {
  position: fixed;
  background-color: rgb(206, 202, 202);
  width: 100%;
  padding: 0.5em;
  bottom: 0;
}

.footer {
  display: flex;
}

.footer nav ul {
  list-style: none;
  display: flex;
  margin: 0%;
  padding: 0%;
}

.footer nav a {
  text-decoration: none;
  margin: 2px;
}

.footer nav a:hover {
  text-decoration: underline;
  color: #f00;
}

.footer .copyRight {
  width: 100%;
  text-align: center;
}

.footer p {
  margin: 0%;
}
