.logo {
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}
.contact {
  font-size: 10px;
  font-weight: lighter;
  font-style: italic;
  color: #000;
  text-decoration: none;
}

.top-bar {
  position: fixed;
  background-color: rgb(245, 245, 245);
  color: white;
  height: 260px;
  width: 100%;
}
.top-bar h1 {
  margin: 0;
}
.top-bar nav {
  float: right;
}
.top-bar nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.top-bar nav li {
  display: inline-block;
  margin-left: 10px;
}
.top-bar nav li:first-child {
  margin-left: 0;
}
.top-bar nav a {
  color: white;
  text-decoration: none;
}

.divPic img {
  position: fixed;
  display: block;
  z-index: 1;
  top: 110px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.MyPicture {
  width: 200px;
  object-position: middle;
  object-fit: fill;
  border-color: white;
  border-style: solid;
  border-radius: 50%;
}

.logo {
  position: fixed;
  display: block;
  width: 100%;
  top: 210px;
}

.contact {
  position: fixed;
  display: block;
  width: 100%;
  top: 240px;
}

.Navigation {
  position: fixed;
  display: flex;
  width: 100%;
  top: 260px;
  z-index: 1;
  flex-direction: row;
  align-items: center;
  background-color: rgb(206, 202, 202);
}

.Navigation ul {
  padding: 0.5em;
  margin-bottom: 0%;
}

.Navigation a {
  text-decoration: none;
}

.Navigation nav a:hover {
  text-decoration: underline;
  color: #f00;
}

.div2 {
  flex: 1;
  display: flex;
  justify-content: end;
}

.subscribe {
  background-color: rgb(179, 40, 40);
  padding: 10px;
  border: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}
.subscribe:hover {
  opacity: 0.7;
}
