h1 {
  text-align: center;
}
.divPic {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.MyPicture {
  width: 200px;
  object-position: middle;
  object-fit: fill;
  border-color: white;
  border-style: solid;
  display: block;
}

.column-header {
  padding-left: 40px;
}

.header1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.div2 {
  flex: 1;
  display: flex;
  justify-content: end;
}

.subscribe {
  background-color: rgb(179, 40, 40);
  padding: 10px;
  border: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
}
.subscribe:hover {
  opacity: 0.7;
}
