.logo {
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}
.contact {
  font-size: 10px;
  font-weight: lighter;
  font-style: italic;
  color: #000;
  text-decoration: none;
}

.divPic {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.MyPicture {
  width: 200px;
  object-position: middle;
  object-fit: fill;
  border-color: white;
  border-style: solid;
  border-radius: 50%;
}

.Navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(206, 202, 202);
}

.div2 {
  flex: 1;
  display: flex;
  justify-content: end;
}

.subscribe {
  background-color: rgb(179, 40, 40);
  padding: 10px;
  border: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
}
.subscribe:hover {
  opacity: 0.7;
}
