.navbar a {
  color: white;
}

.navbar-nav .selected {
  color: rgb(207, 39, 39);
  font-size: 17px;
}

.navbar a:hover {
  color: blue;
}

.picture1 {
  position: fixed;
  top: 70px;
  background-color: white;
}

.img-fixed {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.card {
  background: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
}

.small-img {
  width: 20px;
  height: 20px;
}

.medium-img {
  width: 200px;
  height: 200px;
}

.rounded-medium {
  border-radius: 200px;
  border: solid;
  border-color: rgb(182, 182, 182);
}

body,
html {
  padding-top: 40px;
  padding-bottom: 40px;
}

.experienceBodyMB {
  margin-top: 320px;
}
.experienceBody {
  margin-top: 270px;
}

.indexBody {
  margin: 20px;
}

.container {
  display: flex;
  margin: 0%;
  border: solid 1px black;
}

.sidebar {
  flex: 0 0 150px;
  margin: 0px;
  height: 100%;
  align-self: flex-start;
}
