* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.containerRH {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
}

.containerRH section {
  min-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fce8f4;
}

.containerRH section:nth-child(2) {
  background: #e2fcff;
}
.containerRH section:nth-child(3) {
  background: #fffee1;
}

.containerRH section .content {
  max-width: 800px;
  padding: 40px;
  text-align: center;
}

.container section .content h2 {
  font-size: 4em;
  color: #111;
  text-align: center;
}

.container section .content p {
  font-size: 1.3em;
  line-height: 1.4em;
  color: #111;
  text-align: center;
}

@media (max-width: 991px) {
  .container {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: auto;
    transform: none !important;
  }
}
