.HTMLBody {
  margin-top: 270px;
  margin-bottom: 40px;
}

.container {
  display: flex;
}

.sidebar {
  flex: 0 0 100px;
  margin: 10px;
  height: 100%;
  align-self: flex-start;
}

.body {
  align-self: flex-start;
  flex: 1;
  padding-top: 10px;
  height: 100%;
}

h1,
h3 {
  margin-top: 0;
  font-size: large;
}

ul {
  padding-inline-start: 20px;
}
