.container {
  display: flex;
}

.sidebar {
  flex: 0 0 100px;
  padding: 5px;
  height: 100%;
}

.body {
  flex: 1;
  padding: 20px;
  height: 100%;
}

h1,
h3 {
  margin-top: 0;
  font-size: large;
}

ul {
  padding-inline-start: 0px;
}
